{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <div style="text-align:center">
            <div>
            <img src={{ url_for('static', filename="assets/img/logoxalpredictia.png") }} alt="Logo PredictIA XALDIGITAL" class="logoxaldigital">
            </div>
            <div>
            <img src={{ url_for('static', filename="assets/img/erizoxaldigital.png") }} alt="Logo Erizo XALDIGITAL" class="logoerizo">
            </div>
        </div>
        <div class="sidebar-header" style="text-align:center;margin-top: 20px; margin-bottom:20px;">
            <span id="logo">PREDICTIA</span>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header titles-predictia">
                        <span>CREA UNA NUEVA CONTRASEÑA</span>
                    </div>
                    <div class="card-body">
                        {% if error %}
                            <p style="color: red;">{{ error }}</p>
                        {% endif %}
                        <form method="POST" action="{{ url_for('set_new_password') }}">
                            <div class="form-group">
                                <label for="username" class="titles-predictia">Nombre de Usuario</label>
                                <input type="text" class="form-control form_login" id="username" placeholder="Ingresa tu usuario", name="username" value={{username}} required> 
                            </div>
                            <div class="form-group">
                                <label for="new_password" class="titles-predictia">Nueva Contraseña</label>
                                <input type="password" class="form-control form_login" id="new_password" placeholder="Ingresa tu nueva contraseña", name="new_password" required>
                            </div>
                            <input type="text" class="form-control form_login" id="session", name="session" value="{{session}}" style="display:none">

                            <button type="submit" class="btn button_login">Acceder</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}