<div class="row" style="margin-top:20px; display: flex;" id="boxfilterzone">
    <span class="titles-predictia">{{boxname}}</span>
    <div id="filter-zone" class="row">
        <span id="titlefilter">Productos a filtrar</span>
        <select id={{select_panel_name}} multiple="multiple">
        </select>
        <div class="row">
            <button type="button" class="btn btn-secondary applyfilter" id="apply_filter">
                <i class="bi bi-check-lg"></i> Aplicar filtro
            </button>
        </div>
    </div>
</div>