{% extends "base.html" %}
<!-- Page Content  -->
{% block content %}
<div class="row content">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="#" id="sidebarCollapse">
                <i class="bi bi-layout-sidebar"></i>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a> Dashboards  /  Panel de Precisión de Pronósticos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="boxfilterforecasting">
        <div class="row" style="margin-top:20px; display: flex;" id="boxfilterzone">
            <span class="titles-predictia">Panel de Precisión de Pronósticos</span>
            <div id="filter-zone" class="row">
                <span id="titlefilter">Productos a filtrar</span>
                <select id="select_forecasting_panel" multiple="multiple">
                </select>
                <div class="row">
                    <button type="button" class="btn btn-secondary applyfilter" id="apply_filter">
                        <i class="bi bi-check-lg"></i> Aplicar filtro
                    </button>
                </div>
            </div>
            
        </div>
        <div class="row" style="margin-top:20px" id="boxesrow">
            <div class="col">
                <div class="container filterboxes">
                    <div class="row boxheader">MAPE</div>
                    <div class="row boxdescription">Múltiples periodos seleccionados</div>
                    <div class="row customrowboxes">
                        <div class="col-3">
                            <span class="data-label-percentage">46%</span>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <span class="data-label-info">237,289,181 cases</span>
                            </div>
                            <div class="row">
                                <span class="data-label-info">26% vs Target</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container filterboxes">
                    <div class="row boxheader">MAPE</div>
                    <div class="row boxdescription">El mes pasado</div>
                    <div class="row customrowboxes">
                        <div class="col-3">
                            <span class="data-label-percentage">46%</span>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <span class="data-label-info">237,289,181 cases</span>
                            </div>
                            <div class="row">
                                <span class="data-label-info">26% vs Target</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container filterboxes">
                    <div class="row boxheader">BIAS</div>
                    <div class="row boxdescription">Múltiples periodos seleccionados</div>
                    <div class="row customrowboxes">
                        <div class="col-3">
                            <span class="data-label-percentage">46%</span>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <span class="data-label-info">237,289,181 cases</span>
                            </div>
                            <div class="row">
                                <span class="data-label-info">26% vs Target</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container filterboxes">
                    <div class="row boxheader">BIAS Last month</div>
                    <div class="row boxdescription">El mes pasado</div>
                    <div class="row customrowboxes">
                        <div class="col-3">
                            <span class="data-label-percentage" style="color: #44D300;">65%</span>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <span class="data-label-info">237,289,181 cases</span>
                            </div>
                            <div class="row">
                                <span class="data-label-info">26% vs Target</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;margin-bottom: 30px;">
            <div class="col">
                <p id="loading_forecasting_bars" style="display: none">Cargando datos desde el servidor...</p>
                <canvas id="myChartForecastingBars"></canvas>
            </div>
            <div class="col">
                <p id="loading_forecasting_bars_vertical" style="display: none">Cargando datos desde el servidor...</p>
                <canvas id="myChartForecastingBarsVertical"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}

<script type="text/javascript">
    $(document).ready(function() {

        $('#{{select_panel_name}}').select2({
            width: '100%',
            ajax: {
                url: "{{ url_for('invoke_lambda_ids') }}",
                processResults: function (data) {
                  // Transforms the top-level key of the response object from 'items' to 'results'
                  const ids = data;
                  const results = ids.map(id => ({ "id": id, "text": id }));
                  return {
                    results
                  };
                }
              }
        });

        function get_random_color(){
        var randomColor = '#'+ ('000000' + Math.floor(Math.random()*16777215).toString(16)).slice(-6);
        return randomColor;
        }

        var myChartForecastingBars = new Chart("myChartForecastingBars", {
            type: "bar",
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var myChartForecastingBarsVertical = new Chart("myChartForecastingBarsVertical", {
            type: 'bar',
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                plugins: {
                    legend: {
                    position: 'top',
                }
            }
        }
        });

        function show_loader(id_loader){
            id_loader.show();
        }

        function get_choices_product_names(){
            var selectedOptions = $('#{{select_panel_name}}').select2('data');
                var selectedOptionNames = selectedOptions.map(function(option) {
                    return option.id;
                });
                return selectedOptionNames;
        }

        // Action for Apply Filter on Charts
        $('#apply_filter').click(function() {
            var products_to_filter_data = get_choices_product_names();
            load_data_for_charts(products_to_filter_data);
        });
        
        function load_data_for_charts(products_to_filter=[]){
            var endpoint_xaldigital = "{{ url_for('invoke_lambda_forecast') }}";
            if (products_to_filter.length > 0){
                // Ajax for myChartForecastingBars
                $.ajax({
                    url: endpoint_xaldigital+"?ids="+products_to_filter.join(','),
                    type: 'get',
                    beforeSend: function(){
                        show_loader($("#loading_forecasting_bars"))
                    }
                })
                .done(function(data) {
                    $("#loading_forecasting_bars").hide();
                    // fill depending on products in the response
                    
                    // Passing X Axis Data and creating Chart Instance
                    var labels = data.labels;
                    datasets = data.unique_ids_data
    
                    myChartForecastingBars.data.datasets = datasets;
                    myChartForecastingBars.data.labels = labels;
                    myChartForecastingBars.update();
                })
                .fail(function(jqXHR) {
                    console.log("data");
                });
    
                // Ajax for myChartForecastingBarsVertical
                $.ajax({
                        url: endpoint_xaldigital+"?ids="+products_to_filter.join(','),
                        type: 'get',
                        beforeSend: function(){
                            show_loader($("#loading_forecasting_bars_vertical"))
                        },
                    })
                    .done(function(data) {
                        $("#loading_forecasting_bars_vertical").hide();
                        
                        // fill depending on products in the response
                        // Passing X Axis Data and creating Chart Instance
                        var labels = ["Jan 2024", "Jul 2024", "Aug 2024", "Sept 2024"];
                        datasets = [
                            {
                                label: 'Producto 1',
                                data: [12, 19, 3, -80],
                                backgroundColor: get_random_color()
                            },
                            {
                                label: 'Producto 2',
                                data: [-20, 11, -30, 40],
                                backgroundColor: get_random_color()
                            },
                        ]
    
                        myChartForecastingBarsVertical.data.datasets = datasets;
                        myChartForecastingBarsVertical.data.labels = labels;
                        myChartForecastingBarsVertical.update();
                    })
                    .fail(function(jqXHR) {
                        console.log("data");
                    });
            }else{
                Swal.fire('Selecciona productos para generar la gráfica');
            }
            
            
            
        }
        
    });
</script>
{% endblock %}