{% extends "base.html" %}
<!-- Page Content  -->
{% block content %}
<div class="row content">
  <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="#" id="sidebarCollapse">
      <i class="bi bi-layout-sidebar"></i>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
          <a>Dashboards  /  Inicio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div class="container-fluid">
    <div class="row" style="margin-top:20px; display: flex;">
      <div class="col-5">
        <div class="row">
          <span class="titles-predictia">ANÁLISIS DE DATOS, PRONÓSTICOS Y ÓRDENES DE COMPRA</span>
          <div class="upload-container" id="drop-area">
            <img src={{ url_for('static', filename="assets/img/Cloud.png") }} alt="Upload Icon" class="upload-image">
            <span class="upload-text">Arrastra el archivo CSV aquí</span>
            <button class="browse-btn" onclick="document.getElementById('fileInput').click()">Seleccionar archivo</button>
            <input type="file" id="fileInput" class="browse-btn" accept=".csv">
          </div>

        </div>

        <div class="row" style="margin-top:20px">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-file-earmark-spreadsheet"></i></span>
            <input type="text" id="predictiafilename" class="form-control" placeholder="..." readonly>
            <a class="btn btn-outline-secondary" id="removefile"><i class="bi bi-x"></i></a>
          </div>
        </div>

        <div class="row" style="margin-top:20px">
          <span class="titlesectionsidebar">La siguiente tabla muestra la estructura del archivo CSV a importar.
            Al subir un archivo podrá ver las primeras líneas importadas.
          </span>
          <table id="dynamicTable" style="margin-top:10px">
            <thead>
            <tr>
              <th></th>
              <th>unique_id</th>
              <th>ds</th>
              <th>y</th>
            </tr>
            <!-- Table headers will be dynamically added here -->
            </thead>
            <tbody>
            <tr>
              <td>0</td>
              <td>unique_id</td>
              <td>0000000</td>
              <td>0000000</td>
            </tr>
            <tr>
              <td>1</td>
              <td>unique_id</td>
              <td>0000000</td>
              <td>0000000</td>
            </tr>
            <tr>
              <td>2</td>
              <td>unique_id</td>
              <td>0000000</td>
              <td>0000000</td>
            </tr>
            <tr>
              <td>3</td>
              <td>unique_id</td>
              <td>0000000</td>
              <td>0000000</td>
            </tr>
            <!-- Table body will be dynamically filled here -->
            </tbody>
          </table>
          <button type="button" class="btn" id="btnsendfile" style="margin-top:10px; display: none">
            <span class="bi bi-send"> Enviar </span>
          </button>
        </div>

        <div class="row" style="margin-top:20px">
          <span id="analisis_information_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</span>
        </div>
      </div>


      <div class="col-7">
        <div class="row">
            <span class="titles-predictia">DATOS HISTÓRICOS</span>
            <a class="btn btn-secondary showchart" role="button" href="{{ url_for('datos_historicos') }}">
              <i class="bi bi-plus-circle"></i> Ver gráfica completa
            </a>
          <div>
            <p id="loading_data_historical_data" style="display: none">Cargando datos desde el servidor...</p>
            <canvas id="myChartDatosHistoricos"></canvas>
          </div>
        </div>
        <div class="row" style="margin-top:20px">

            <span class="titles-predictia">DATOS PRONOSTICADOS</span>
            <a role="button" class="btn btn-secondary showchart" href="{{ url_for('datos_pronosticados') }}">
              <i class="bi bi-plus-circle"></i> Ver gráfica completa
            </a>

          <div>
            <p id="loading_data_forecasted_data" style="display: none">Cargando datos desde el servidor...</p>
            <canvas id="myChartDatosPronosticados"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  // Obtener el área de arrastrar y soltar
const dropArea = document.getElementById('drop-area');

// Eventos de arrastrar y soltar
dropArea.addEventListener('dragenter', (e) => {
  e.preventDefault();
  dropArea.style.backgroundColor = '#F7F9FB';
});

dropArea.addEventListener('dragover', (e) => {
  e.preventDefault();
});

dropArea.addEventListener('dragleave', () => {
  dropArea.style.backgroundColor = '#F7F9FB';
});

dropArea.addEventListener('drop', (e) => {
  e.preventDefault();
  dropArea.style.backgroundColor = '#F7F9FB';
  const files = e.dataTransfer.files;
  console.log(files)
  // Check if any files were dropped
  if (files.length > 0 && files.length == 1) {
    if (files[0].type === 'text/csv' || files[0].name.toLowerCase().endsWith('.csv')){
      handleFiles(files);
    }else{
      Swal.fire('Solo se permiten cargar archivos con formato CSV');
    }
  }else{
    Swal.fire('Solo se permite cargar 1 archivo a la vez');
  }


});

// Manejar los archivos seleccionados
document.getElementById('fileInput').addEventListener('change', (e) => {
  const files = e.target.files;
  handleFiles(files);
});

// Función para manejar los archivos
function handleFiles(files) {
  // Aquí puedes procesar los archivos, como enviarlos a un servidor, etc.
  filename = files[0].name;
  $('#predictiafilename').val(filename);
}
$('#removefile').click(function() {
  $('#fileInput').val('');
  $('#predictiafilename').val('');
  clean_table();
});

function clean_table(){
  $('#dynamicTable thead').empty();
  $('#dynamicTable tbody').empty();
}

function clean_fileinput(){
  $('#fileInput').val('');
  $('#predictiafilename').val('');
}

$(document).ready(function() {

  // Send CSV file to S3
  $('#btnsendfile').click(function() {
        var file = document.getElementById('fileInput').files[0];

        if (!file) {
            Swal.fire('Por favor selecciona un archivo.');
            return;
        }

        var key1 = "{{ accessKeyId }}"
        var key2 = "{{ secretAccessKey }}"

        // Configura las credenciales de AWS
        AWS.config.update({
            accessKeyId: key1,
            secretAccessKey: key2
        });

        // Configura el bucket de S3 y el nombre del archivo en S3
        var bucketName = "{{ bucket_name }}"
        var key = file.name;

        var s3 = new AWS.S3();

        // Request params setup
        var params = {
            Bucket: bucketName,
            Key: key,
            Body: file,
            ACL: 'private' // Opcional: configurar permisos de acceso del objeto
        };

        // Send file to AWS S3
        s3.upload(params, function(err, data) {
            if (err) {
                Swal.fire('Error al subir el archivo a AWS S3: '+err);
            } else {
                Swal.fire('Archivo subido exitosamente al servidor. URL del archivo: ' + data.Location);
            }
        });
    });

  function arraysAreEqual(arr1, arr2) {
      console.log(arr1, arr2)
      if (arr1.length !== arr2.length) {
          return false;
      }
  
      for (var i = 0; i < arr1.length; i++) {
          if (arr1[i] !== arr2[i]) {
              return false;
          }
      }
  
      return true;
  }

  // Event listener para cuando se selecciona un archivo
  $('#fileInput').change(function(e) {
      var file = e.target.files[0];
      if (file){
          var reader = new FileReader(); // Crear un objeto FileReader
          // Event listener para cuando se completa la lectura del archivo
          reader.onload = function(event) {
              var content = event.target.result; // Obtener el contenido del archivo
              var lines = content.split('\n'); // Dividir el contenido en líneas
              // Checking if there are more lines in file
              if (lines.length > 0) {
                  var headers = lines[0].trim().split(','); // Obtener el encabezado

                  // headers must be 3 to ensure the file is correct
                  var array_to_compare_headers = ["unique_id", "ds", "y"];

                  if (headers.length === 3 && arraysAreEqual(headers, array_to_compare_headers)){
                      clean_table();
                      // Create table headers dynamically
                      var thead = $('#dynamicTable thead');
                      var tr = $('<tr>');
                      $.each(headers, function(index, header) {
                          tr.append('<th>' + header + '</th>');
                      });
                      thead.append(tr);

                      // processing preview for only 5 lines more
                      new_lines = lines.slice(1, 5);
                      var tbody = $('#dynamicTable tbody');
                      $.each(new_lines, function(index, rowData) {
                          var tr = $('<tr>');
                          $.each(rowData.trim().split(','), function(index, cellData) {
                              tr.append('<td>' + cellData + '</td>');
                          });
                          tbody.append(tr);
                      });
                      $("#btnsendfile").show();
                  }else{
                    clean_fileinput();
                    Swal.fire("El archivo CSV debe tener 3 cabeceras: unique_id, ds, y");
                  }
              }else{
                clean_fileinput();
                Swal.fire('El archivo CSV está vacío');
              }
          };
          // Read only the first portion of the file (up to the first newline character after the fifth line)
          var blob = file.slice(0, 1024 * 1024); // Read up to 1MB of data
          reader.readAsText(blob);
      }else{
        Swal.fire("No ha sido seleccionado ningun archivo");
      }
    });
});
</script>

<script>
  $(document).ready(function() {

    function get_random_color(){
      var randomColor = '#'+ ('000000' + Math.floor(Math.random()*16777215).toString(16)).slice(-6);
      return randomColor;
    }

    function loading_data(loading_element_id){
      $("#"+loading_element_id).show();
    }

    function create_chart_instance(chartDivId, x_axis_values){
      var chart_instance = new Chart(chartDivId, {
        type: "line",
        data: {
          labels: x_axis_values,
          datasets: []
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'right',
            },
            title: {
              display: false,
            }
          }
        },
      });
      return chart_instance
    }

    // Passing X Axis Data and creating Chart Instance
    const x_values_historical_data = [100,200,300,400,500,600,700,800,900,1000];
    var myChartHistoricalData = create_chart_instance("myChartDatosHistoricos", x_values_historical_data);
    var myChartDatosPronosticados = create_chart_instance("myChartDatosPronosticados", x_values_historical_data);

    function load_custom_chart(chart_instance, endpoint_ml_model_result, loading_element_id){
      $.ajax(
        {
          url:endpoint_ml_model_result,
          type: 'get',
          beforeSend: loading_data(loading_element_id),
        })
      .done(function(data) {
          $("#"+loading_element_id).hide();
          data = [
              {"product_name": "Producto 1", "data": [10, 2, 30, 44,600, 800, 300]},
              {"product_name": "Producto 2", "data": [10, 2, 50, 44,600, 800, 100]},
              {"product_name": "Producto 3", "data": [10, 2, 80, 44,600, 800, 145]},
              {"product_name": "Producto 4", "data": [4, 2, 120, 44,600, 800, 456]},
              {"product_name": "Producto 5", "data": [10, 2, 30, 44,600, 800, 56]},
              {"product_name": "Producto 6", "data": [5, 2, 30, 44,600, 800, 10]},
              {"product_name": "Producto 7", "data": [10, 2, 500, 44,600, 1000, 266]},
              {"product_name": "Producto 8", "data": [2, 2, 30, 44,600, 800, 677]},
              {"product_name": "Producto 9", "data": [10, 2, 30, 44,600, 800, 500]},
          ]

          var custom_array_with_data_structure = [];

          $.each(data, function(index, product_item_data) {
              var color_random = get_random_color();
              custom_array_with_data_structure.push({
                label: product_item_data.product_name,
                data: product_item_data.data,
                borderColor: color_random,
                backgroundColor: color_random,
                fill: false
              })
          });
          chart_instance.config.data.datasets = custom_array_with_data_structure;
          chart_instance.update();
      })
      .fail(function(jqXHR) {
        console.log("data");
      });
    }

    // Loading data for myChartHistoricalData chart
    load_custom_chart(
      myChartHistoricalData,
      'https://jsonplaceholder.typicode.com/todos/1',
      "loading_data_historical_data"
    );

    // Loading data for myChartDatosPronosticados chart
    load_custom_chart(
      myChartDatosPronosticados,
      'https://jsonplaceholder.typicode.com/todos/1',
      "loading_data_forecasted_data"
    );

  });
</script>
{% endblock %}